* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.request {
  padding-right: 0 !important;
}

.request span {
  background: #f87311;
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 19px;
  line-height: 34px;
}

.request span a {
  color: white !important;
}

.request span a b {
  font-family: 'Montserrat', sans-serif !important;
}

.request:hover span {
  background: #ff0200;
}

#header .line1 {
  padding-top: 3px;
  background: white;
  overflow: hidden;
}

#header .line1 a {
  font-weight: 500;
  font-size: 16px;
}

#header .line1 .log {
  padding-top: 3px;
}

#header .line1 .log span {
  padding-left: 10px;
}

#header .line1 .log span a {
  text-decoration: underline;
}

#header .line2 {
  background: white;
  padding-bottom: 20px;
}

#header .line2 .navbar {
  border: none;
  background: none;
  margin-bottom: 0;
}

#header .line2 .navbar a {
  color: black;
  font-weight: 600;
  font-size: 19px;
  line-height: 34px;
  font-family: 'Montserrat', sans-serif !important;
}

#header .line2 .navbar .navbar-header a.navbar-brand {
  padding-left: 0;
  font-weight: 300;
  padding-right: 0;
}

#header .line2 .navbar .navbar-header a.navbar-brand .orange {
  font-weight: 600;
}

#header .line2 .navbar .navbar-header a.navbar-brand img.logo {
  display: inline;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
  height: 34px;
}

#header .line2 .navbar .collapse .navbar-form {
  display: none;
}

#header .line2 .navbar .collapse ul.navbar-right li.dropdown li:first-child {
  padding-left: 15px !important;
}

#header .line2 .navbar .collapse ul.navbar-right li {
  padding: 15px;
}

#header .line2 .navbar .collapse ul.navbar-right li a {
  padding: 0;
}

#header .line2 .navbar .collapse ul.navbar-right li:first-child {
  padding-left: 0;
}

#header .line3 {
  height: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: fixed !important;
  top: 0;
  z-index: -1;
  background: white;
  width: 100%;
  -webkit-box-shadow: 0px 1px 3px 0px #382727;
  box-shadow: 0px 1px 3px 0px #382727;
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  opacity: 0;
}

#header .line3 span {
  font-size: 16px !important;
}

#header .line3 .phone a {
  font-size: 20px;
}

#header .line3 .logo {
  -webkit-transform: translate(17px, -3.5px);
  -ms-transform: translate(17px, -3.5px);
  transform: translate(17px, -3.5px);
}

#header .line3 .logo img {
  height: 40px;
}

footer {
  background: #2c3f4f;
  color: white;
}

footer a {
  color: white;
  display: block;
  font-size: 16px;
  font-weight: 400;
}

footer button {
  width: 100%;
  border-radius: 0;
  background: #f87311;
  border: none;
  padding: 10px 0;
  font-weight: 500;
  font-size: 17px;
}

footer button:hover {
  background: #ff0200 !important;
}

footer #social {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

footer #social .social {
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
  border: 2px double black;
  text-align: center;
  margin-right: 30px;
}

footer #social .social a {
  color: white;
  line-height: 36px;
  width: 36px;
  height: 36px;
  border: 2px solid #2c3f4f;
  border-radius: 50%;
}

#copyright {
  color: white;
  background: #23323f;
  font-weight: 300;
}

#copyright a {
  color: white;
}

#copyright a:hover {
  color: #f87311;
}

#body #banner {
  position: relative;
}

#body #banner .background .small {
  display: none;
}

#body #banner .insider {
  bottom: -20px;
  width: 100%;
}

#body #banner .insider h1 {
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 3%;
}

#body #banner .insider .instrument {
  border: 1px solid white;
  color: white;
  background: #f87311;
  padding: 10px 25px;
  letter-spacing: 2px;
  border-radius: 13px;
  font-size: 20px;
  margin-bottom: 2%;
}

#body #banner .insider .instrument:hover {
  background: #ff0200;
}

#body #banner .insider .instrument:focus {
  background: #DB0707 !important;
}

#body #banner .search {
  margin-bottom: 2%;
}

#body #banner .search input[type=text] {
  width: 130px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
  background-color: white;
  background-image: url("../images/icons/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#body #banner .search input[type=text]:focus {
  width: 60%;
}

#body #options {
  margin-top: 60px;
  margin-bottom: 50px;
}

#body #options #instruments .items30 {
  position: relative;
}

#body #options #instruments .items30 .insider {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  padding: 10px;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

#body #options #instruments .items30 .insider a.link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0 !important;
  -o-transition: all 0 !important;
  transition: all 0 !important;
}

#body #options #instruments .items30 .insider .content {
  opacity: 0;
  width: 100%;
  margin-bottom: 0;
  height: 100%;
  border: 1px solid white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

#body #options #instruments .items30 .insider .content a {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

#body #options #instruments .items30 .insider .content a p {
  color: white;
  font-size: 50px;
}

#body #options #instruments .items30 .insider:hover, #body #options #instruments .items30 .insider:active {
  background: rgba(0, 0, 0, 0.37);
}

#body #options #instruments .items30 .insider:hover .content, #body #options #instruments .items30 .insider:active .content {
  opacity: 1;
}

#body #steps {
  background: #f0f1f1;
}

#body #steps h1 {
  font-size: 34px;
  margin-top: 0;
}

#body #steps .box {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#body #steps .box .steps h2 {
  font-size: 19px;
}

#body #steps .box .steps p {
  padding: 0 12%;
  font-weight: 600;
}

#body #steps .box .steps .picture {
  border-radius: 10px;
  margin: 0 22%;
  overflow: hidden;
}

#body #why {
  position: relative;
  background: url(../images/banner/Anh-office-02.jpg) no-repeat no-repeat;
  background-size: cover;
  padding-top: 50px;
}

#body #why .content {
  z-index: 3;
  color: white;
}

#body #why .content h1 {
  margin-top: 0;
  padding-bottom: 40px;
}

#body #why .content .box {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

#body #why .content .box h4 {
  font-weight: 400;
  margin-bottom: 30px;
}

#body #why .content .box p {
  font-weight: 300;
}

#body #reviews .box {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 30px;
}

#body #reviews .box .stars {
  padding-bottom: 30px;
}

#body #reviews .box .stars span {
  color: #ffdd17;
}

#body #reviews .box .content span {
  font-size: 16px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

#body #reviews .box .content .more {
  color: #f87311;
  cursor: pointer;
}

#body #reviews .box .students {
  padding-top: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#body #reviews .box .students img {
  width: 25%;
  border-radius: 100%;
  overflow: hidden;
  background: gray;
  margin-right: 10px;
}

#body #reviews .box .students .info {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  width: 70%;
}

#body #reviews .box .students .info h4 {
  font-family: 'Open Sans', sans-serif !important;
}

#body #count {
  background: #f0f1f1;
}

#body #myInstrument {
  position: relative;
}

#body #myInstrument .insider {
  width: 100%;
  top: 0;
  color: white;
}

#body #myInstrument .insider h1 {
  letter-spacing: 2px;
  padding-top: 40px;
  margin-bottom: 0;
}

#body #myInstrument .insider p {
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 17px;
}

#body #myInstrument .insider .instrument {
  border: 2px solid white;
  background: #f87311;
  font-size: 20px;
  font-weight: 500;
  padding: 17px 20px;
  border-radius: 7px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  background: #f05329;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f05329 0%, #f6931e 100%, #f6931e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f05329 0%, #f6931e 100%, #f6931e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#f05329), color-stop(100%, #f6931e), to(#f6931e));
  background: -o-linear-gradient(left, #f05329 0%, #f6931e 100%, #f6931e 100%);
  background: linear-gradient(to right, #f05329 0%, #f6931e 100%, #f6931e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#body #myInstrument .insider .instrument:hover {
  background: #f05329;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f05329 0%, #f6931e 100%, #f6931e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f05329 0%, #f6931e 100%, #f6931e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#f05329), color-stop(100%, #f6931e), to(#f6931e));
  background: -o-linear-gradient(top, #f05329 0%, #f6931e 100%, #f6931e 100%);
  background: linear-gradient(to bottom, #f05329 0%, #f6931e 100%, #f6931e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#body #contact {
  padding-top: 10px;
  padding-bottom: 10px;
}

#body #contact h4, #body #contact h3 {
  margin: 0;
}

#body #contact h4 {
  margin-top: 3px;
}

.post a {
  text-decoration: none !important;
  color: #f87311 !important;
}

.post a:hover {
  text-decoration: underline !important;
}
