$black : #040707;
$orange : #f87311;
$gray: #959697;
$lightorange: #ee8930;

//---------DETAIL

img{
    object-fit: cover ;
}
ul{
    li{
        list-style-type: circle !important;
        list-style-position: inside !important;
    }
}
.pagination{
    width: 100%;
    ul{
        width: 100%;
        text-align: center;

        li{
            width: 40px;
            height: 40px;
            display: inline-block;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            background: #e8e9ea;
            border-radius: 50%;
            margin: 0 15px;
            a{
                color: black;
                height: 100%;
                width: 100%;
                display: inherit;
            }
        }
        li:hover{
            background: $orange;
            a{
                color: white;
            }
        }
        li.number{
            display: none;
        }
        li.active{
            background: $orange;
            a{
                color: white; 
            }
        }
        li.direction{
            visibility: hidden;
            display: inline-block
        }
        li.direction i{
            visibility: hidden;
        }
        li.appear{
            display: inline-block!important;
            visibility: visible;
        }
        li.appear i{
            visibility: visible;    
        }
    }
}//.pagination
#body{
    #post{
        border-top: 1px solid #ccc;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        h1{
            margin-top: 0;
        }
        .post{
            width: 65%;
            padding-top: 40px !important;
            padding-bottom: 0 !important;
            .title{
                h1{
                    text-transform: uppercase;
                }
                p{
                    color: #ccc;
                }
            }
            img.limited{
                max-width: 600px;
                max-height: 600px;
            }
            .videowrapper{
                position: relative;
                padding-bottom: 56.25%; /* 16:9 */
                height: 0;
                max-width: 600px;
                max-height: 600px;
                margin-top: 30px;
                iframe{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            
        }
        .category{
            padding-top: 40px !important;
            padding-bottom: 40px !important;
            width: 30%;
            border-left: 1px solid #f3f3f3;
            padding-left: 15px;
            .heading{
                font-size: 36px;
                font-weight:700;
                font-family: 'Montserrat', sans-serif !important;
            }
            a{
                display: block;
                font-size: 18px;
            }
        }
        #tags{
            width: 100%;
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            border-top: 1px solid #f3f3f3;
            margin-top: 30px;
            ul{
                margin-bottom: 0 !important;
                li{
                    display: inline-block;
                    padding: 1px 7px 1px 18px;
                    background: #f87311;
                    margin-right: 5px;
                    position: relative;
                    margin-bottom: 5px;
                    a{
                        color: white;
                        line-height: 20px;
                        font-size: 12px;
                    }
                }
                :before{
                    content: "";
                    position: absolute;
                    height: 0;
                    width: 0;
                    border-top: 16px solid white;
                    border-right: 16px solid transparent;
                    top: 0;
                    left: 0;
                }
                :after{
                    content: "";
                    position: absolute;
                    height: 0;
                    width: 0;
                    border-bottom: 16px solid white;
                    border-right: 16px solid transparent;
                    bottom: 0;
                    left: 0;
                }
                li:hover{
                    background: #ff0200;
                }
            }
        }
    }
    
    #news{
        border-top: 1px solid #f3f3f3;
    }
}

@media only screen and (min-width:1440px){
    #post{
        .post{
            .videowrapper{
                max-width: none !important;
            }
        }
    }
}
@media only screen and (max-width:1024px){
    #body{
        #post{
            .post{
                img.limited{
                    width: 100%;
                }
                .videowrapper{
                    width: 100%;
                }
            }
        }
    }
}
@media only screen and (max-width:768px){
    
}
@media only screen and (max-width:600px){
    #body{
        #post{
            .post{
                width: 100%;
            }
            .category{
                width: 100%;
                border-left: 0;
                padding: 0;
                border-top: 1px solid #ccc;
            }
        }
        
    }
}



//---------DETAIL



//---------POST


#body{
    img.icon{
        width: 40%;
        padding: 5px;
        border-radius: 50%;
    }
    img.student{
        border: 1px solid #a3d5e0;
    }
    img.parents{
        border: 1px solid #32bea6;
    }
    img.teacher{
        border: 1px solid #d48b07;
    }
    img.mail{
        border: 1px solid #428c7d;
    }
    #useful{
        border-top: 1px solid #ccc;
        .items30{
            border: 1px solid $black;
            border-radius: 20px;
            padding: 7px 15px;
            margin-top: 30px;
            background: #f5f6f7;
            h1{
                margin-top: 0;
            }
            
        }
    }//#useful
    
    #popular{
        background: #f5f6f7;
        .popular{
            .swiper-container {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
            h1.heading{
                position: relative;
                overflow: hidden;
                margin-top: 0;
            }
            p{
                color: #3d3e3d;
                font-size: 13px;
                span{
                    color: #3d3e3d;
                    font-size: 13px;
                }
            }
            a{
                img{
                    max-height: 250px;
                    min-height: 250px;
                }
            }
        }
        .sent{
            background: #f9fafa;
            border: 1px solid $gray;
            border-radius: 0;
            h3{
                padding: 0 5%;
            }
            p{
                padding: 0 15%;
                margin-top: 10px;
                margin-bottom: 15px;
                font-size: 14px;
            }
            img{
                margin-top: 15px; 
            }
            .sharp{
                border: 1px solid $black;
                border-radius: 0;
                width: auto;
                margin: 5px auto;
                font-weight: 600;
                color: black;
            }
            button{
                padding: 4px 25px;
                margin-bottom: 15px;
            }
            ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color:  black;
            }
            :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
               color:  black;
               opacity:  1;
            }
            ::-moz-placeholder { /* Mozilla Firefox 19+ */
               color:  black;
               opacity:  1;
            }
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
               color:  black;
            }
            ::-ms-input-placeholder { /* Microsoft Edge */
               color:  black;
            }
        }
    }//#popular
    
    #news{
        h1{
            margin-top: 0;
            margin-bottom: 30px;
        }
        .box{
            justify-content: space-around;
            .items25{
                a{
                    img{
                        max-height: 200px;
                        min-height: 200px;
                    }
                }
                .content{
                    span{
                        font-size: 16px;
                        display: block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .more{
                        color: $orange;
                        cursor: pointer;
                    }
                }
            }
        }//.boxs
        
        
    }//#news
    
    #document{  
        position: relative;
        padding: 40px 15%;
        border-top: 1px solid $gray;
        h1{
            margin-bottom: 30px;
        }
        .swiper-container{
            width: 100%;
            height: 100%;
            .swiper-slide{
                .content{
                    padding: 0 30px;
                    img{
                        max-height: 340px;
                    }
                    button{
                        background: $orange;
                        color: white;
                        border: none;
                        padding: 6px 17px;
                        border-radius: 10px;
                        font-weight: 600;
                    }
                    button:hover{
                        background: #ff0200;
                    }
                }
            }
        }
        .swiper-button-next{
            background: url(../images/icons/right.png);
            background-size: cover;
            width: 30px;
            height: 30px;
            right: 10%;
        }
        .swiper-button-prev{
            background: url(../images/icons/left.png);
            background-size: cover;
            width: 30px;
            height: 30px;
            left: 10%;
        }
    }//#document
}//#body
.small{
    display: none;
}
@media only screen and (max-width:991px){
    #body{
        #document{
            .swiper-button-next{
                right: 2px;
            }
            .swiper-button-prev{
                left: 2px;
            }
        }
    }
}
@media only screen and (max-width:768px){
    #body{
        #document{
            padding: 40px 50px !important;
            .swiper-container{
                .swiper-slide{
                    .content{
                        padding: 0;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:600px){
    #body{
        #popular{
            .items65{
                width: 100%;
            }
            .items30{
                margin-top: 15px;
                width: 80%;
                margin-left: 10%;
                padding-bottom: 15px;
                p{
                    padding: 0 5%;
                }
            }
        }
        #news{
            .box{
                .items25{
                    display: none;
                    width: 100%;   
                }
                .items25:first-child{
                    display: flex !important;
                    justify-content: space-between;
                    flex-wrap: wrap;
                        a{
                            width: 50%;
                        }
                        .content{
                            width: 45%;
                        }
                }
                .pagination{
                    ul{
                        li{
                            height: 25px;
                            width: 25px;
                            line-height: 25px;
                            margin: 0 5px;
                        }
                    }
                }
            }

        }
        #useful{
            .usefulItems{
                .items30{
                    width: 100%;
                }
            }
        }
    }
    
    
}




//---------POST


//---------SIGNIN

#signIn{
    .form-group{
        input,button{
            width: 400px;
            height: 44px;
        }
        label{
            font-weight: 400;
        }
        button{
            background: $orange;
            color: white;
            margin-top: 20px;
            border: none;
            font-weight: 600;
        }
        .form-control:focus,button:focus{
            border-color: transparent;
            border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
            border-radius: 4px;
            border-image-slice: 1;
            box-shadow: none;
            outline: 0px;
        }
        button:hover{
            background: #eb9352;
        }
    }
}    

.checkbox{
    .class_checkbox {
        width: 25px;  
        height: 25px;
        background-color: white;
        border: 1px solid #ccc;
        margin-right: 10px;
        float: left;
    }
    
    label{
        display: block;
        margin-bottom: 15px;
        height: 25px;
        line-height: 25px;
    }
}

#circle{
    .checkbox{
        .class_checkbox {
            border-radius: 50%; 
        }
        .class_checkbox.checked {
            background: url(../images/icons/circleCheckbox.jpg);
            background-size: cover;
            border: none;
        }
    }
}
#square{
    .checkbox{
        .class_checkbox.checked {
            background: url(../images/icons/squareCheckbox.jpg);
            background-size: cover;
            border: none;
        }
    }
}


//---------SIGNIN




//---------LANDING


#header2{
    color: white;
    background: url(../images/banner/Bia%201440%20logo-01.jpg) no-repeat center center;
    background-size: 100% 100% !important;
    h2{
        font-size: 50px;
        margin-top: 140px;
        line-height: 60px;
    }
    h3{
        font-size: 28px;
        margin-bottom: 35px;
    }
}//#header2

#why{
    img{
        object-fit: scale-down;
    }
    h1{
        margin-bottom: 50px;
    }
    #step{
        color: black;
        
        .steps{
            .heading{
                margin-bottom: 20px;
                margin-top: 0;
                line-height: 35px;
                .number{
                    color: white;
                    height: 35px;
                    width: 35px;
                    line-height: 35px;
                    text-align: center;
                    background: $orange;
                    display: inline-block;
                    border-radius: 50%;
                }
            }
            img{
                width: 100%;
            }
        }
    }
}//#why


#howitwork{
    border-top: 2px solid #7f7f7f;
    h2{
        margin-bottom: 40px;
    }
    h4{
        font-weight: 600;
    }
    .items30{
        img{
            margin-bottom: 30px;
        }
    }
}//#howitwork

#teachers{
    border-top: 2px solid #7f7f7f;
    h2{
        margin-top: 0;
        margin-bottom: 40px;
    }
    .teachers{
        .itemspx{
            width: 190px;
            .avatar{
                margin: 0 auto;
                height: 100px;
                width:100px;
                margin-bottom: 10px;
                img{
                    width: 100%;
                    border-radius: 50%;
                }
            }
            
            .content{
                span{
                    font-size: 16px;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .stars{
                    width: 190px;
                    display: flex;
                    justify-content: space-around;
                    margin: 0 auto;
                    span{
                        color: #ffdd17;
                        display: inline;
                        font-size: 34px;
                    }
                }
                .more{
                    color: $orange;
                    cursor: pointer;
                }
            }
        }
    }
}

#bottom{
    background: #253444;
    text-align: center;
    color: white;
    justify-content: center !important;
    padding: 40px 0;
    h1{
        font-size: 30px;
    }
    button{
        transform: scale(0.8);
    }
}

//---------LANDING