img {
    -o-object-fit: cover;
    object-fit: cover;
}

ul li {
    list-style-type: circle !important;
    list-style-position: inside !important;
}

.pagination {
    width: 100%;
}

.pagination ul {
    width: 100%;
    text-align: center;
}

.pagination ul li {
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background: #e8e9ea;
    border-radius: 50%;
    margin: 0 15px;
}

.pagination ul li a {
    color: black;
    height: 100%;
    width: 100%;
    display: inherit;
}

.pagination ul li:hover {
    background: #f87311;
}

.pagination ul li:hover a {
    color: white;
}

.pagination ul li.number {
    display: none;
}

.pagination ul li.active {
    background: #f87311;
}

.pagination ul li.active a {
    color: white;
}

.pagination ul li.direction {
    visibility: hidden;
    display: inline-block;
}

.pagination ul li.direction i {
    visibility: hidden;
}

.pagination ul li.appear {
    display: inline-block !important;
    visibility: visible;
}

.pagination ul li.appear i {
    visibility: visible;
}

#body #post {
    border-top: 1px solid #ccc;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#body #post h1 {
    margin-top: 0;
}

#body #post .post {
    width: 65%;
    padding-top: 40px !important;
    padding-bottom: 0 !important;
}

#body #post .post .title h1 {
    text-transform: uppercase;
}

#body #post .post .title p {
    color: #ccc;
}

#body #post .post img.limited {
    max-width: 600px;
    max-height: 600px;
}

#body #post .post .videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    max-width: 600px;
    max-height: 600px;
    margin-top: 30px;
}

#body #post .post .videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#body #post .category {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    width: 30%;
    border-left: 1px solid #f3f3f3;
    padding-left: 15px;
}

#body #post .category .heading {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif !important;
}

#body #post .category a {
    display: block;
    font-size: 18px;
}

#body #post #tags {
    width: 100%;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-top: 1px solid #f3f3f3;
    margin-top: 30px;
}

#body #post #tags ul {
    margin-bottom: 0 !important;
}

#body #post #tags ul li {
    display: inline-block;
    padding: 1px 7px 1px 18px;
    background: #f87311;
    margin-right: 5px;
    position: relative;
    margin-bottom: 5px;
}

#body #post #tags ul li a {
    color: white;
    line-height: 20px;
    font-size: 12px;
}

#body #post #tags ul :before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 16px solid white;
    border-right: 16px solid transparent;
    top: 0;
    left: 0;
}

#body #post #tags ul :after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 16px solid white;
    border-right: 16px solid transparent;
    bottom: 0;
    left: 0;
}

#body #post #tags ul li:hover {
    background: #ff0200;
}

#body #news {
    border-top: 1px solid #f3f3f3;
}

@media only screen and (min-width: 1440px) {
    #post .post .videowrapper {
        max-width: none !important;
    }
}

@media only screen and (max-width: 1024px) {
    #body #post .post img.limited {
        width: 100%;
    }
    #body #post .post .videowrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #body #post .post {
        width: 100%;
    }
    #body #post .category {
        width: 100%;
        border-left: 0;
        padding: 0;
        border-top: 1px solid #ccc;
    }
}

#body img.icon {
    width: 40%;
    padding: 5px;
    border-radius: 50%;
}

#body img.student {
    border: 1px solid #a3d5e0;
}

#body img.parents {
    border: 1px solid #32bea6;
}

#body img.teacher {
    border: 1px solid #d48b07;
}

#body img.mail {
    border: 1px solid #428c7d;
}

#body #useful {
    border-top: 1px solid #ccc;
}

#body #useful .items30 {
    border: 1px solid #040707;
    border-radius: 20px;
    padding: 7px 15px;
    margin-top: 30px;
    background: #f5f6f7;
}

#body #useful .items30 h1 {
    margin-top: 0;
}

#body #popular {
    background: #f5f6f7;
}

#body #popular .popular .swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#body #popular .popular h1.heading {
    position: relative;
    overflow: hidden;
    margin-top: 0;
}

#body #popular .popular p {
    color: #3d3e3d;
    font-size: 13px;
}

#body #popular .popular p span {
    color: #3d3e3d;
    font-size: 13px;
}

#body #popular .popular a img {
    max-height: 250px;
    min-height: 250px;
}

#body #popular .sent {
    background: #f9fafa;
    border: 1px solid #959697;
    border-radius: 0;
}

#body #popular .sent h3 {
    padding: 0 5%;
}

#body #popular .sent p {
    padding: 0 15%;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;
}

#body #popular .sent img {
    margin-top: 15px;
}

#body #popular .sent .sharp {
    border: 1px solid #040707;
    border-radius: 0;
    width: auto;
    margin: 5px auto;
    font-weight: 600;
    color: black;
}

#body #popular .sent button {
    padding: 4px 25px;
    margin-bottom: 15px;
}

#body #popular .sent ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: black;
}

#body #popular .sent :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: black;
    opacity: 1;
}

#body #popular .sent ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: black;
    opacity: 1;
}

#body #popular .sent :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

#body #popular .sent ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
}

#body #news h1 {
    margin-top: 0;
    margin-bottom: 30px;
}

#body #news .box {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#body #news .box .items25 a img {
    max-height: 200px;
    min-height: 200px;
}

#body #news .box .items25 .content span {
    font-size: 16px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#body #news .box .items25 .content .more {
    color: #f87311;
    cursor: pointer;
}

#body #document {
    position: relative;
    padding: 40px 15%;
    border-top: 1px solid #959697;
}

#body #document h1 {
    margin-bottom: 30px;
}

#body #document .swiper-container {
    width: 100%;
    height: 100%;
}

#body #document .swiper-container .swiper-slide .content {
    padding: 0 30px;
}

#body #document .swiper-container .swiper-slide .content img {
    max-height: 340px;
}

#body #document .swiper-container .swiper-slide .content button {
    background: #f87311;
    color: white;
    border: none;
    padding: 6px 17px;
    border-radius: 10px;
    font-weight: 600;
}

#body #document .swiper-container .swiper-slide .content button:hover {
    background: #ff0200;
}

#body #document .swiper-button-next {
    background: url(../images/icons/right.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    right: 10%;
}

#body #document .swiper-button-prev {
    background: url(../images/icons/left.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    left: 10%;
}

.small {
    display: none;
}

@media only screen and (max-width: 991px) {
    #body #document .swiper-button-next {
        right: 2px;
    }
    #body #document .swiper-button-prev {
        left: 2px;
    }
}

@media only screen and (max-width: 768px) {
    #body #document {
        padding: 40px 50px !important;
    }
    #body #document .swiper-container .swiper-slide .content {
        padding: 0;
    }
}

@media only screen and (max-width: 600px) {
    #body #popular .items65 {
        width: 100%;
    }
    #body #popular .items30 {
        margin-top: 15px;
        width: 80%;
        margin-left: 10%;
        padding-bottom: 15px;
    }
    #body #popular .items30 p {
        padding: 0 5%;
    }
    #body #news .box .items25 {
        display: none;
        width: 100%;
    }
    #body #news .box .items25:first-child {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    #body #news .box .items25:first-child a {
        width: 50%;
    }
    #body #news .box .items25:first-child .content {
        width: 45%;
    }
    #body #news .box .pagination ul li {
        height: 25px;
        width: 25px;
        line-height: 25px;
        margin: 0 5px;
    }
    #body #useful .usefulItems .items30 {
        width: 100%;
    }
}

#signIn .form-group input,
#signIn .form-group button {
    width: 400px;
    height: 44px;
}

#signIn .form-group label {
    font-weight: 400;
}

#signIn .form-group button {
    background: #f87311;
    color: white;
    margin-top: 20px;
    border: none;
    font-weight: 600;
}

#signIn .form-group .form-control:focus,
#signIn .form-group button:focus {
    border-color: transparent;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#3acfd5), to(#3a4ed5));
    -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    -o-border-image: -o-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    border-image: -webkit-gradient(linear, left top, left bottom, from(#3acfd5), to(#3a4ed5));
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    border-radius: 4px;
    border-image-slice: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0px;
}

#signIn .form-group button:hover {
    background: #eb9352;
}

.checkbox .class_checkbox {
    width: 25px;
    height: 25px;
    background-color: white;
    border: 1px solid #ccc;
    margin-right: 10px;
    float: left;
}

.checkbox label {
    display: block;
    margin-bottom: 15px;
    height: 25px;
    line-height: 25px;
}

#circle .checkbox .class_checkbox {
    border-radius: 50%;
}

#circle .checkbox .class_checkbox.checked {
    background: url(../images/icons/circleCheckbox.jpg);
    background-size: cover;
    border: none;
}

#square .checkbox .class_checkbox.checked {
    background: url(../images/icons/squareCheckbox.jpg);
    background-size: cover;
    border: none;
}

#header2 {
    color: white;
    background: url(../images/banner/Bia%201440%20logo-01.jpg) no-repeat center center;
    background-size: 100% 100% !important;
}

#header2 h2 {
    font-size: 50px;
    margin-top: 140px;
    line-height: 60px;
}

#header2 h3 {
    font-size: 28px;
    margin-bottom: 35px;
}

#why img {
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

#why h1 {
    margin-bottom: 50px;
}

#why #step {
    color: black;
}

#why #step .steps .heading {
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 35px;
}

#why #step .steps .heading .number {
    color: white;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    background: #f87311;
    display: inline-block;
    border-radius: 50%;
}

#why #step .steps img {
    width: 100%;
}

#howitwork {
    border-top: 2px solid #7f7f7f;
}

#howitwork h2 {
    margin-bottom: 40px;
}

#howitwork h4 {
    font-weight: 600;
}

#howitwork .items30 img {
    margin-bottom: 30px;
}

#teachers {
    border-top: 2px solid #7f7f7f;
}

#teachers h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

#teachers .teachers .itemspx {
    width: 190px;
}

#teachers .teachers .itemspx .avatar {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

#teachers .teachers .itemspx .avatar img {
    width: 100%;
    border-radius: 50%;
}

#teachers .teachers .itemspx .content span {
    font-size: 16px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

#teachers .teachers .itemspx .content .stars {
    width: 190px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
}

#teachers .teachers .itemspx .content .stars span {
    color: #ffdd17;
    display: inline;
    font-size: 34px;
}

#teachers .teachers .itemspx .content .more {
    color: #f87311;
    cursor: pointer;
}

#bottom {
    background: #253444;
    text-align: center;
    color: white;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    padding: 40px 0;
}

#bottom h1 {
    font-size: 30px;
}

#bottom button {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
